div#create-user-component {
  background: #ddd;
  position: absolute;
  width: calc(100% - 2px);
  height:  calc(100% - 2px);
  top: 0;
  left: 0;
  background: rgba(240,248,255, 0.7);

  .content {
    border: 1px solid #dddddd;
    width: 500px;
    margin: 83px auto 0 auto;
    background-color: #ffffff;
    border-radius: 3px;

    .heading {
      background-color: #5fb4fc;
      padding: 10px 12px;
      position: relative;

      h3 {
        margin: 0;
        padding: 0;
        font-size: 19px;
        font-weight: normal;
        color: #fff;
        display: inline;
      }

      span.close {
        color: #fff;
        position: absolute;
        right: 13px;
        font-size: 25px;
        top: 7px;
        cursor: pointer;
        font-size: 21px;
      }
    }

    .body {
      padding: 12px;
      box-sizing: border-box;

      form {
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 15px;

        input {
          border: 1px solid #ddd;
          width: 100%;
          box-sizing: border-box;
          margin: 10px 0px;
        }

        button {
          padding: 10px 20px;
          margin-top: 18px;
          font-size: 16px;
        }

      }

    }

  }
}